local.properties
.DS_Store
.eslintcache
.idea/
node_modules/
npm-debug.log
shared/bundled/
src/__coverage__/
dist/
.gradle/
.lighthouseci/
*.iml
# testing
coverage

build
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.swp
*.swo
*.swn
*.log
# ios
build/
# public/
products/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcscmblueprint
DerivedData
*.hmap
*.ipa
*.xcuserstate
package-lock.json

.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# stryker temp files
.stryker-tmp
